[alias]
    # Shortening aliases
    co = checkout
    cob = checkout -b
    f = fetch -p
    c = commit
    p = push
    pp = push -u origin HEAD
    ba = branch -a
    bd = branch -d
    bD = branch -D
    dc = diff --cached

    # Feature improving aliases
    st = status -sb
    a = add -p

    # Complex aliases
    plog = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
    tlog = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rank = shortlog -sn --no-merges
    bdm = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"
    bdg = "!git branch -v | grep '\\[gone\\]' | xargs -n 1 git branch -d"
    cch = "!git log --format=format: --name-only | egrep -v '^$' | sort | uniq -c | sort -rg | head -10"

    # src: https://softwaredoug.com/blog/2022/11/09/idiot-proof-git-aliases.html
    # *********************
    # Rebase workflow
    mainbranch = "!git remote show origin | sed -n '/HEAD branch/s/.*: //p'"
    synced = "!git pull origin $(git mainbranch) --rebase"
    update = "!git pull origin $(git rev-parse --abbrev-ref HEAD) --rebase"
    squash = "!git rebase -v -i $(git mainbranch)"
    publish = push origin HEAD --force-with-lease
    pub = publish

[core]
    attributesfile = ~/.gitattributes
    excludesfile = ~/.gitignore_global
    editor = vim
    autocrlf = input

[user]
    name = vanadium23
    email = chernoffivan@gmail.com

[include]
    path = ~/.gitconfig_local

[pull]
    ff = only
